
.transparentBG {
  background-color: rgba(255, 255, 255, 0.5);
}

a {
  color: black !important;
}

.logoimg {
  width: 10%;
}

nav {
  height: 10vw;
  line-height: 10vw;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  height: 10vw;
  line-height: 10vw;
}

nav .button-collapse i {
  height: 10vw;
  line-height: 10vw;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 5vw;
    line-height: 5vw;
  }
}

.page-footer {
  background-color: grey;
}

.parallax-container {
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 500px;
  }
}

#side-overlay {

  z-index: 1;
}